*{

margin: 0;
padding: 0;
font-family: Raleway;
}

a{
text-decoration: none;
color: inherit;
}

a:visited{
text-decoration: none;
color: inherit;
}

footer{

background-color: rgb(190,190,190);
color: white;
padding: 50px 300px;
font-size: 30px;
}

main >h1{

font-size: 50px;
color: rgba(34, 186, 225, 1);
margin-top: 150px;
border: 1px solid rgba(34, 186, 225, 1);
border-radius: 50px;
padding: 5px 15px;
}

/* HEADER */

header{
position: fixed;
width: 100%;
top: 0:
left: 0;
z-index: 3;
}

header nav .navigation{

background-color: rgba(34, 186, 225, 1);
color: white;
font-size: 30px;
font-family: Raleway;
}

header nav ul{

list-style: none;
display: flex;
justify-content: center;
align-items: center;
}

header nav li{

margin: 0 25px;
border-bottom: 3px solid rgba(34, 186, 225, 1);
cursor: pointer;
padding:7.5px 0;
transition: .2s ease;
}

header nav li:hover,
header nav li:active,
header nav li:focus{

border-bottom: 3px solid #118cc4;
color: white;
}


header nav ul{

height: 55px;
}

header section{

justify-content: center;
display: flex;
width: 100%;
}

header section a{
width: 100%;
}


/* FOOTER */


footer{

background-color: rgb(190,190,190);
color: white;
padding: 25px 300px;
font-size: 30px;
}

footer .footer li{

cursor: pointer;
}

footer .footer{

list-style: none;
display: flex;
justify-content: space-around;
align-items: center;
transition: .4s ease;
}


footer .footer .footer-bouton:hover,
footer .footer .footer-bouton:focus,
footer .footer .footer-bouton:active{

color: rgba(34, 186, 225, 1);
}

footer .footer .reso-footer{

list-style: none;
}

footer .footer .reso-footer li{

margin: 15px 0px;
}



footer .footer .reso-footer a{

transition: .4s ease;
}

footer .footer .reso-footer #reso-1:hover,
footer .footer .reso-footer #reso-1:active,
footer .footer .reso-footer #reso-1:focus
{

color: 	#1DA1F3;
}

footer .footer .reso-footer #reso-2:hover,
footer .footer .reso-footer #reso-2:active,
footer .footer .reso-footer #reso-2:focus
{

color: 	#3B5999;
}

footer .footer .reso-footer #reso-3:hover,
footer .footer .reso-footer #reso-3:active,
footer .footer .reso-footer #reso-3:focus
{

background:	linear-gradient(to right, #fbdb56 0%, #d84188 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


footer .footer .reso-footer #reso-4:hover,
footer .footer .reso-footer #reso-4:active,
footer .footer .reso-footer #reso-4:focus
{

color: 	#0077B4;
}

/* COMMUN */

.voirplus{

width: 100%;
text-align: center;
font-size: 30px;
cursor: pointer;
color: #22BAE1;
margin: 25px;
}

.voirplus:hover,
.voirplus:active,
.voirplus:focus{

width: 100%;
text-align: center;
font-size: 30px;
cursor: pointer;
color: #22BAE1;
margin: 25px;
text-shadow: 0 0 5px #22BAE1;
}


/* MAIN INDEX.PHP*/

#index main .section-1{

text-align: center;
padding: 175px 0;
padding-bottom: 325px;
}


#index main .section-1 h1{

color: #22BAE1;
font-size: 200px;
font-weight: bold;
}


#index main .section-1 h2{

color: #2d2d2d;
font-size: 86px;
font-weight: bold;
}

#index main .section-1 .accez-mag{

color: #22BAE1;
font-size: 45px;
font-weight: bold;
border: 1px solid #22BAE1;
border-radius: 25px;
padding: 5px 15px;
margin-top: 50px;
position: absolute;
right: 38%;
top: 65%;
transition: .2s ease;
background-color: white;
}

#index main .section-1 .accez-mag:hover,
#index main .section-1 .accez-mag:active,
#index main .section-1 .accez-mag:focus
{
background-color: #22BAE1;
color: white;
font-size: 45px;
font-weight: bold;
border: 1px solid #22BAE1;
border-radius: 25px;
padding: 5px 15px;
margin-top: 50px;
position: absolute;
right: 38%;
top: 65%;
}


#index main .section-2{

margin: 50px 75px;
border: 3px solid black;
border-radius: 36px;
padding: 50px;
font-size: 70px;
}

#index main .section-2 .acceuil-abo-bouton{
margin-top: 25px;
display: flex;
justify-content: space-around;
}

#index main .section-2 a{

color: #2d2d2d;
background-color: #22BAE1;
border-radius: 50px;
font-size: 50px;
padding: 10px;
transition: .4s ease;
}

#index main .section-2 a:hover,
#index main .section-2 a:active,
#index main .section-2 a:focus
{

color: white;
background-color: #22BAE1;
border-radius: 50px;
font-size: 50px;
padding: 10px;
}


/* MAGAZINE .PHP */
#magazine main{

width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
#magazine .magazine-prem{

margin-top: 100px;
}
#magazine main section{

height: 350px;
width: 600px;
background-image : url('../content/images/fac1.jpg');
border-top-left-radius: 0px;
border-top-right-radius: 35px;
border-bottom-left-radius: 35px;
border-bottom-right-radius: 0px;
background-size: cover;
position: relative;
margin: 25px 50px;
transition: .2s ease;
cursor: pointer;
}

#magazine main section:hover,
#magazine main section:focus,
#magazine main section:active{

box-shadow: 0 0 20px rgba(34, 186, 225, 1);
}


#magazine main section div{
background-color: rgba(34, 186, 225, 1);
bottom: 0;
position: absolute;
font-size: 35px;
border-radius: 35px;
border-top-left-radius: 0px;
color: white;
}

#magazine main section div h2{
padding: 3px 15px;
}

/* FILIERE . PHP */

#filiere main{

width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
#filiere .magazine-prem{

margin-top: 100px;
}
#filiere main section{

height: 150px;
width: 1200px;
background-image : url('../content/images/fac2.jpg');
border-top-left-radius: 0px;
border-top-right-radius: 35px;
border-bottom-left-radius: 35px;
border-bottom-right-radius: 0px;
background-size: cover;
position: relative;
margin: 25px 50px;
transition: .2s ease;
cursor: pointer;
}

#filiere main section:hover,
#filiere main section:focus,
#filiere main section:active{

box-shadow: 0 0 20px rgba(34, 186, 225, 1);
}


#filiere main section div{
background-color: rgba(34, 186, 225, 1);
bottom: 40px;
position: absolute;
font-size: 35px;
border-radius: 35px;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
color: white;
}

#filiere main section div h2{
padding: 3px 15px;
}

/* ecoles . PHP */

#ecole main{

width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
#ecole .magazine-prem{

margin-top: 100px;
}
#ecole main section{

height: 150px;
width: 1200px;
background-image : url('../content/images/fac2.jpg');
border-top-left-radius: 0px;
border-top-right-radius: 35px;
border-bottom-left-radius: 35px;
border-bottom-right-radius: 0px;
background-size: cover;
position: relative;
margin: 25px 50px;
transition: .2s ease;
cursor: pointer;
}

#ecole main section:hover,
#ecole main section:focus,
#ecole main section:active{

box-shadow: 0 0 20px rgba(34, 186, 225, 1);
}


#ecole main section div{
background-color: rgba(34, 186, 225, 1);
bottom: 40px;
position: absolute;
font-size: 35px;
border-radius: 35px;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
color: white;
}

#ecole main section div h2{
padding: 3px 15px;
}


/* TEMOIGNAGE .PHP */
#temoignages main{

width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
#temoignages .magazine-prem{

margin-top: 100px;
}

#temoignages main section{

display: flex;
justify-content: space-around;
margin: 50px 200px;
border: 2px solid rgba(34, 186, 225, 1);
border-radius: 35px;
}

#temoignages main section:hover,
#temoignages main section:active,
#temoignages main section:focus
{

box-shadow: 0 0 20px rgba(34, 186, 225, 1);

}

#temoignages article,
#temoignages aside{

margin: 35px 50px
}

#temoignages main section aside{
text-align: center;
}

#temoignages main section aside video,
#temoignages main section aside div,{
margin: 0;

}

#temoignages main section aside div{
margin-top: 0;
}

#temoignages main section aside p{
color: white;
background-color: rgba(34, 186, 225, 1);
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
font-size: 35px;
padding: 5px 0;
}


#temoignages main section article{
font-size: 20px;
}

#temoignages main section article strong{
font-size: 25px;
cursor: pointer;
color: rgba(34, 186, 225, 1);
}


/* CONTACT . PHP */
#contact label{
cursor: pointer;
}
#contact label:hover,
#contact label:active,
#contact label:focus
{
text-decoration: underline;
}

#contact form{

display: flex;
justify-content: space-around;
margin:150px 500px;
}

#contact form aside,
#contact form article{

display:inline-grid;
color: rgba(34, 186, 225, 1);
font-size: 25px;
}

#contact form label,
#contact form input,
#contact form select,
#contact form textarea
{

margin: 15px 0;
height: 50px;
width: 500px;
}

#contact form select,
#contact form input,
#contact form textarea
{

font-size: 20px;
}

#contact form textarea
{

  max-width: 500px;
  min-width: 499px;
  min-height: 50px;
  max-height: 100px;
}
