*{

margin: 0;
padding: 0;
font-family: Raleway;
}

a{
text-decoration: none;
color: inherit;
}

a:visited{
text-decoration: none;
color: inherit;
}

footer{

background-color: rgb(190,190,190);
color: white;
padding: 50px 300px;
font-size: 30px;
}

/* HEADER */

header nav .navigation{

background-color: rgba(34, 186, 225, 1);
color: white;
font-size: 30px;
font-family: Raleway;
}

header nav ul{

list-style: none;
display: flex;
justify-content: center;
align-items: center;
}

header nav li{

margin: 0 25px;
border-bottom: 3px solid rgba(34, 186, 225, 1);
cursor: pointer;
padding:7.5px 0;
transition: .2s ease;
}

header nav li:hover,
header nav li:active,
header nav li:focus{

border-bottom: 3px solid #118cc4;
color: white;
}


header nav ul{

height: 55px;
}

header section{

justify-content: center;
display: flex;
width: 100%;
}

header section a{
width: 100%;
}



/* MAIN */


main {


}

main .section-1{

text-align: center;
padding: 175px 0;
padding-bottom: 325px;
}


main .section-1 h1{

color: #22BAE1;
font-size: 200px;
font-weight: bold;
}


main .section-1 h2{

color: #2d2d2d;
font-size: 86px;
font-weight: bold;
}

main .section-2{

margin: 50px 75px;
border: 3px solid black;
border-radius: 36px;
padding: 50px;
font-size: 70px;
}

main .section-2 .acceuil-abo-bouton{
margin-top: 25px;
display: flex;
justify-content: space-around;
}

main .section-2 a{

color: #2d2d2d;
background-color: #22BAE1;
border-radius: 50px;
font-size: 50px;
padding: 10px;
transition: .4s ease;
}

main .section-2 a:hover,
main .section-2 a:active,
main .section-2 a:focus
{

color: white;
background-color: #22BAE1;
border-radius: 50px;
font-size: 50px;
padding: 10px;
}










/* FOOTER */


footer{

background-color: rgb(190,190,190);
color: white;
padding: 50px 300px;
font-size: 30px;
}

footer .footer li{

cursor: pointer;
}

footer .footer{

list-style: none;
display: flex;
justify-content: space-around;
align-items: center;
transition: .4s ease;
}


footer .footer .footer-bouton:hover,
footer .footer .footer-bouton:focus,
footer .footer .footer-bouton:active{

color: rgba(34, 186, 225, 1);
}

footer .footer .reso-footer{

list-style: none;
}

footer .footer .reso-footer li{

margin: 15px 0px;
}



footer .footer .reso-footer a{

transition: .4s ease;
}

footer .footer .reso-footer #reso-1:hover,
footer .footer .reso-footer #reso-1:active,
footer .footer .reso-footer #reso-1:focus
{

color: 	#1DA1F3;
}

footer .footer .reso-footer #reso-2:hover,
footer .footer .reso-footer #reso-2:active,
footer .footer .reso-footer #reso-2:focus
{

color: 	#3B5999;
}

footer .footer .reso-footer #reso-3:hover,
footer .footer .reso-footer #reso-3:active,
footer .footer .reso-footer #reso-3:focus
{

background:	linear-gradient(to right, #fbdb56 0%, #d84188 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


footer .footer .reso-footer #reso-4:hover,
footer .footer .reso-footer #reso-4:active,
footer .footer .reso-footer #reso-4:focus
{

color: 	#0077B4;
}
